html {
	background-color: cornflowerblue;
}

body {
	background: whitesmoke;
	width: 60%;
	margin: 15px auto;
	padding: 15px;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 12px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}